@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i');
body{
    font-family: 'Roboto', sans-serif;
    height: 100vh;
}
/*=====================================================
                    GENERAL CSS                                
=====================================================*/
ul.social-icon{
    margin: 0;
    padding: 0;
}
ul.social-icon li{
    list-style: none;
    display:inline-block;
}
ul.social-icon li a{
    border: 1px solid transparent;
    padding: 2px;
    display: block;
    height: 35px;
    width: 35px;
    border-radius: 20%;
    margin: 10px 5px;
    font-size: 22px;
    
    transition: .8s ease;
}
#footer i{
    color: #fff;
    padding-left: 3px;
}
#footer a.fac{
    background-color: #347cd2;
}
#footer a.twi{
    background-color: #1ec4ff;
}
#footer a.goo{
    background-color: #ff4032;
}
#footer a.dri{
    background-color: #ff3298;
}
#team ul.social-icon li a{
    color: #a8b9c0;
}
#team ul.social-icon li a:hover{
    background-color: #a8b9c0;
    color:#fff;
}
.div-pd{
    padding: 60px 0;
}
h1,h2,h3,p{
    padding: 0;
    margin: 0;
}
h1{
    font-size: 20px;
    font-weight: 400;
}
h2{
    font-weight: 500;
   
}
p{
    color: #b9c7cd;
    font-weight: 400;
    font-size: 15px;
}
.div-headding{  
    text-align: center;
}
.div-headding h2{
    margin:50px 0 20px;
    font-size: 35px;
    text-transform: capitalize;
}
.div-title::after{
    content: "";
    width: 150px;
    height: 2px;
    background-color: #7fe0de;
    margin: 20px auto 0;
    display: block;
    bottom: 0px;
}
/*=====================================================
                    BUTTON(GENERIC)                                
=====================================================*/
.btn-general{
    font-size: 15px;
    font-weight: 500;
    text-transform: capitalize;
    color: #ffc501;
    padding: 15px 55px;
    border-radius: 25px;
}
.btn-red{
    background-color: #ff3150;
}
.btn-black-mat{
    background-color: #19283f;
}
/*=====================================================
                    HOME                                
=====================================================*/
#home{
    height: 500px;
}
#home-cover{
    background-color: #19283f;
    height: 100%;
}
#home-outter{
    text-align: center;
    display:table;
    height: 100%;
    width: 100%;
}
#home-inner{
    display: table-cell;
    vertical-align: middle;
}
#home-hedding h3{
    font-size: 51px;
    font-weight: 300;
    color: #fff;
    margin-bottom: 20px;
}
#home-desc p{
    color: #a8b9c0;
    font-weight: 400;
    font-size: 15px;
    margin-bottom: 40px;
}
/*=====================================================
                        GOOD                                
=====================================================*/
.good-wrapper{
    text-align: center;
    position: relative;
}
.good-wrapper i{
    font-size: 70px;
    color: #7fe0de;
    position: absolute;
    top: 122px;
    left: 146px;
}
.icon-r{
    background-repeat: no-repeat;
    background-position: center;
    height: 194px;
    margin: 60px 0 35px;
}
.good-icon1{
    background-image: url(../img/1.png);
}
.good-icon2{
    background-image: url(../img/2.png);
}
.good-icon3{
    background-image: url(../img/3.png);
}
.good-headding h2{
    font-size: 20px;
    color: #ffc501;
    margin-bottom: 35px;
}
.good-headding p{
    line-height: 20px;
    max-width: 315px;
}
/*=====================================================
                        MAKE                                
=====================================================*/
.make-cover{
    background-color: #eff7fa;

}
.div-mix ul{
    list-style: none;
    text-align: center;
    margin: 60px 0;
}
.div-mix ul li{
    display:inline-block;
    padding: 10px;
    cursor: pointer;
    color: #b6c5cc;
    padding: 10px 20px;
    border-radius: 10px;
    transition: .9s ease;
}
.mixitup-control-active, .div-mix ul li:hover{
    background: #ff3150;
    color:#ffbb06 !important;
}
.getter{
    padding-bottom: 30px;
}
/*=====================================================
                        ABOUT                                
=====================================================*/
#about p.about-hedding-para{
    max-width:570px;
    margin:auto;
    text-align: center;
    padding: 25px 0 55px;
}
.about-right-side, .about-left-side{
    height:430px;
}
.about-right-side{
    background-image: url(../img/about.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}
.ifame-box{
    position: absolute;
    left: 84px;
    top: 12px;
    height: 331px;
    width: 585px;
}
.about-left-side h2{
    font-size: 35px;
    padding-bottom: 25px;
}
p.about-lb-para{
    padding: 25px 0;
}
.about-left-side p{
    max-width: 370px;
}
.about-left-side{
    display: table;
}
.about-left-side-inner{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}
/*=====================================================
                        TEAM                                
=====================================================*/
p.team-hedding-para{
    max-width: 996px;
    margin: auto;
    text-align: center;
    padding:25px 0 55px;
}
#team{
    background-color: #eff7fa;
}
.owl-items{
    text-align: center;
    margin: 15px;
    background-color: #fff;
    height: 390px;
}
.owl-items h1{
    background-color: #33d1cc;
    padding: 15px 0;
    color: #fff;
}
.owl-items p{
    max-width: 215px;
    margin: auto;
    padding-top: 15px;
}
/*=====================================================
                        CLIENT                                
=====================================================*/
.client-owl-item img{
    padding: 0px 45px;
    height: 50px;
}
.client-owl-item{
    display: table;
}
/*=====================================================
                    START PROJECT                                
=====================================================*/
#start-project{
    background-color: #19283f;
}
#start-project h2{
    color: #fff;
    margin: 55px 0 25px;
}
#start-project-btn{
    margin: 50px 0 55px;
}
/*=====================================================
                        BLOG                                
=====================================================*/
.blog-image{
    margin:60px 0 20px;
}
.blog-heading h1{
    margin: 10px 0 60px;
}
/*=====================================================
                        SUSCRIVE                                
=====================================================*/
#suscrive{
    background-color: #ffc400;
    height:90px;
}
.suscrive-desc{
    position: relative;
    width: 95%;
    margin: auto;
}
#suscrive-btn{
    position: absolute;
    right: 0;
    top:19px;
}
.suscrive-desc h1{
    padding: 34px;
}
.suscrive-desc h1,form, #suscrive-btn{
    display: inline-block;
}
.suscrive-desc form input{
    width: 445px;
    background-color: #ffc400;
    color: #fff;
    border: 0;
    border-bottom: 1px solid #fff;
    padding: 5px;
    font-size: 15px;
}
::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}
/*=====================================================
                        FOOTER                                
=====================================================*/
#footer{
    background-color: #19283f;
}
#footer p{
    line-height: 25px;
    font-size: 13px;
}
#footer h1{
    font-size: 15px;
    color: #b9c7cd;
}
p.para1{
    padding: 30px 0 75px;
}
span.sp1{
    color: #05a7a6;
}
span.sp2{
    color: #f0bb05;
}
ul.left-menu{
    float: left;
}
ul.right-menu{
    float: right;
}
.middle-side ul li{
    list-style: none;
    padding: 5px 0;
}
.middle-side ul li a:hover{
    text-decoration: none;
}
.right-side{
    padding-left: 50px;
}
#footer-btn{
    margin: 40px 0;
}
#footer-btn a{
    width:100%;
}
.right-side h1{
    padding-bottom: 25px;
}